<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="../assets/libs/bootstrap-4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-all.min.css">
</head>
    <div class="container mt-3">
        <h2>Add Channel</h2>
      <form >
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Channel Username:</span>
          </div>
          <input type="text" class="form-control" placeholder="benchannel123">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Channel Name:</span>
          </div>
          <input type="text" class="form-control" placeholder="Ben's Channel">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Description:</span>
          </div>
          <input type="text" class="form-control" placeholder="Description">
        </div>
        
        <div class="d-flex justify-content-end mb-3">
          <button style="margin-right: 1%; background-color: #009977;" type="submit" class="btn btn-primary">Cancel</button>
          <button style="margin-right: 1%; background-color: #009977;"  type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
    
</body>

</html>