<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="../assets/libs/bootstrap-4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-all.min.css">
    
</head>

<body>
    <div class="card" style="min-height: 650px;">
        <div style="height: 300px;background-image: url('../assets/img/Welcome Scan.jpg');background-repeat: no-repeat;background-size: cover;">
            <div style="width: 50%; text-align: center;padding: 20px; margin-left:22%;margin-top:5%;background-color: rgba(0, 0, 0, 0.3);" >
                <h1 class="text-center" style="text-transform:uppercase ;" style="padding: 10px;">Channel Name</h1>
                <h3 class="text-center">@channelUsername</h3>
                <p class="text-center">Description Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo, animi voluptate? Eos aspernatur quae distinctio tempore voluptas itaque autem. Asperiores ducimus tempora iusto assumenda laboriosam officia! Perferendis expedita est dolorem?</p>
            </div>
        </div>
        <div class="card-header">
            
            <ul class="nav nav-tabs nav-justified card-header-tabs text-center float-none" role="tablist" style="width: 1196px;">
                
                <li class="nav-item"><a class="nav-link active" id="item-1-1-tab" data-toggle="tab" role="tab" aria-controls="item-1-1" aria-selected="true" href="#item-1-1" style="margin-left: 0px;">Posts</a></li>
                <li class="nav-item"><a class="nav-link"  id="item-1-2-tab" data-toggle="tab" role="tab" aria-controls="item-1-2" aria-selected="false" href="#item-1-2">Official Catalog</a></li>
                <li style="visibility: hidden;"class="nav-item"><a class="nav-link" id="item-1-3-tab" data-toggle="tab" role="tab" aria-controls="item-1-3" aria-selected="false" href="#item-1-3">Catalog</a></li>
                <li style="visibility: hidden;" class="nav-item"><a class="nav-link" id="item-1-4-tab" data-toggle="tab" role="tab" aria-controls="item-1-4" aria-selected="false" href="#item-1-4">Admins</a></li>
                <li style="visibility: hidden;"class="nav-item"><a class="nav-link" id="item-1-5-tab" data-toggle="tab" role="tab" aria-controls="item-1-5" aria-selected="false" href="#item-1-5" ><i class="fas fa-cog" style="height: 16px;"></i></a></li>
            </ul>
        </div>
        <div class="card-body d-flex" style="padding: 10px;">
            <div id="nav-tabContent" class="tab-content">
                <div id="item-1-1" class="tab-pane fade show active" role="tabpanel" aria-labelledby="item-1-1-tab">
                    
               
                </div>
                <div id="item-1-2" class="tab-pane fade" role="tabpanel" aria-labelledby="item-1-2-tab"></div>
                    
                <div
                    id="item-1-3" class="tab-pane fade" role="tabpanel" aria-labelledby="item-1-3-tab"></div>
                   
                <div
                    id="item-1-4" class="tab-pane fade" role="tabpanel" aria-labelledby="item-1-4-tab"></div>
                   
                <div
                    id="item-1-5" class="tab-pane fade" role="tabpanel" aria-labelledby="item-1-5-tab"></div>
                    
        
                </div>
    </div>
    </div>
    <script src="../assets/libs/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <script src="../assets/libs/bootstrap-4.3.1/js/bootstrap.min.js"></script>
</body>

</html>