{{define "comment.board"}}
    <div class="container">

        <div class="row">
            <!-- Contenedor Principal -->
            <div class="comments-container">
                <h2>List of Comments</h2>
                <hr>
                <ul id="comments-list" class="comments-list">
                    <li>
                        <div class="comment-main-level">
                            <!-- Avatar -->
                            <div class="comment-avatar"><img src="../assets/img/user-photo2.jpg"
                                                             alt=""></div>
                            <!-- Contenedor del Comentario -->
                            <div class="comment-box">
                                <div class="comment-head">
                                    <h6 class="comment-name"><a href="#">Agustin Ortiz</a></h6>
                                    <span>hace 20 minutos</span>
                                    <i class="fa fa-reply"></i>

                                </div>
                                <div class="comment-content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
                                    omnis animi et iure laudantium vitae, praesentium optio,
                                    sapiente distinctio illo?
                                </div>
                            </div>
                        </div>
                        <!-- Respuestas de los comentarios -->
                        <ul class="comments-list reply-list">
                            <li>
                                <!-- Avatar -->
                                <div class="comment-avatar"><img src="../assets/img/user-photo2.jpg"
                                                                 alt=""></div>
                                <!-- Contenedor del Comentario -->
                                <div class="comment-box">
                                    <div class="comment-head">
                                        <h6 class="comment-name"><a href="#">Lorena Rojero</a></h6>
                                        <span>hace 10 minutos</span>
                                        <i class="fa fa-reply"></i>

                                    </div>
                                    <div class="comment-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Velit omnis animi et iure laudantium vitae, praesentium
                                        optio, sapiente distinctio illo?
                                    </div>
                                </div>
                            </li>

                            <li>
                                <!-- Avatar -->
                                <div class="comment-avatar"><img src="../assets/img/user-photo2.jpg"
                                                                 alt=""></div>
                                <!-- Contenedor del Comentario -->
                                <div class="comment-box">
                                    <div class="comment-head">
                                        <h6 class="comment-name"><a href="#">Agustin Ortiz</a></h6>
                                        <span>hace 10 minutos</span>
                                        <i class="fa fa-reply"></i>

                                    </div>
                                    <div class="comment-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Velit omnis animi et iure laudantium vitae, praesentium
                                        optio, sapiente distinctio illo?
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <div class="comment-main-level">
                            <!-- Avatar -->
                            <div class="comment-avatar"><img src="../assets/img/user-photo2.jpg"
                                                             alt=""></div>
                            <!-- Contenedor del Comentario -->
                            <div class="comment-box">
                                <div class="comment-head">
                                    <h6 class="comment-name"><a href="#">Lorena Rojero</a></h6>
                                    <span>hace 10 minutos</span>
                                    <i class="fa fa-reply"></i>

                                </div>
                                <div class="comment-content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
                                    omnis animi et iure laudantium vitae, praesentium optio,
                                    sapiente distinctio illo?
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{{end}}