{{define "comment.board"}}
    {{ range . }}
        <li>
            {{ template "comment.card" .}}
            {{ if gt 1  (len .Replies) }}
                <ul class="comments-list reply-list">
                    {{ range   .Replies }}
                        {{ template "comment.card" .}}
                    {{ end}}
                </ul>
            {{ end}}
        </li>
    {{end}}

{{end}}

{{ define "comment.card" }}
    <div class="comment-main-level">
        <!-- Avatar -->
        <div class="comment-avatar"><img src="{{ .Commenter.PictureURL}}"
                                         alt=""></div>
        <!-- Contenedor del Comentario -->
        <div class="comment-box">
            <div class="comment-head">
                <h6 class="comment-name"><a href="#">{{ .Commenter.Username}}</a></h6>
                <span>{{ .CreationTime }}</span>
                <i class="fa fa-reply"></i>

            </div>
            <div class="comment-content">
                {{.Content}}
            </div>
        </div>
    </div>
{{ end }}