<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>issue1</title>
    <link rel="stylesheet" href="../assets/libs/bootstrap-4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/styles/Test_CardPRO-1.css">
    <link rel="stylesheet" href="../assets/styles/Test_CardPRO.css">
</head>

<body>
    <div class="card">
        <div class="card-body d-flex flex-row">
            <img class="rounded-circle mr-3" style="height: 50px; width: 50px;" src="../assets/img/user-photo2.jpg" />
                
            <div class="d-flex flex-column">
                <div class="d-flex flex-row">
                    <h5 class="card-title">Username</h5>
                    <h6 class="card-text" style="padding:0px 12px;">Date 12/12/12</h6>
                </div>
                <div>
                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                </div>
                <a class="card-link d-flex" href="#"><span><i class="fa fa-reply"></i>REPLY</span></a>
                <a class="dropdown-toggle text-body text-decoration-none" data-toggle="dropdown" aria-expanded="false" href="#">View All Replies</a>
                <div class="dropdown-menu">
                
                </div>
            </div>
                      
        </div>
        
    </div>


</body>

</html>