<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Nav Bar</title>
    <link rel="stylesheet" href="../assets/libs/bootstrap-4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/styles/Fixed-navbar-starting-with-transparency-1.css">
    <link rel="stylesheet" href="../assets/styles/Fixed-navbar-starting-with-transparency.css">
    <link rel="stylesheet" href="../assets/styles/CDNjs-Search-Modal.css">
    <link rel="stylesheet" href="../assets/styles/Search-Input-responsive.css">
    <link rel="stylesheet" href="../assets/styles/Test_CardPRO-1.css">
    <link rel="stylesheet" href="../assets/styles/Test_CardPRO.css">
    <link rel="stylesheet" href="../assets/styles/content-view.css">
    <link rel="stylesheet" href="../assets/styles/comment.css">
    
</head>

<body style="padding-top: 0px;">
<div class="d-flex flex-column" style=" height: 83px;">
    <nav class="navbar navbar-light navbar-expand-md navbar-transparency" style="padding:0; margin: 0;width: 100%;">
        <div class="containerd" style="padding:0; margin: 0;width: 100%;">
            <div style="float: left; width: 50%; height: 3%;padding: 0%;"><img  src="../assets/img/logintemp.png"><a class="navbar-brand" href="#" style="margin-left: 16px;vertical-align: top;padding-top: 2%;font-size: x-large;">Issue #1</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button></div>
            <div style="float: right;height: auto;height: 3%; margin-right: 3%;"
                class="collapse navbar-collapse" id="navcol-1" style="padding:0; margin: 0;width: 100%;">
                <ul class="nav navbar-nav ml-auto">
                    
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#" data-toggle="modal" data-target="#modalSearch" style="width: 40px;"><i class="fa fa-search" style="width: 40px;font-size: 20px;"></i></a></li>
                    <li class="nav-item dropdown show"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Channels&nbsp;</a>
                        <div class="dropdown-menu " role="menu"><a class="dropdown-item" role="presentation" href="#">My Channel</a><a class="dropdown-item" role="presentation" href="#">other channel</a><a class="dropdown-item" role="presentation" href="#">other other channel</a></div>
                    </li>
                    <li class="nav-item dropdown show"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fa fa-user" style="color: #009977;font-size: 25px;"></i>&nbsp;My Account</a>
                        <div class="dropdown-menu " role="menu"><a class="dropdown-item" role="presentation" href="#">Profile and Settings</a><a class="dropdown-item" role="presentation" href="#">Log out</a></div>
                    </li>
                </ul>
        </div>
        </div>
        
        
    </nav>
    <div class="modal fade" role="dialog" tabindex="-1" id="modalSearch">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Search</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body "><input class="form-control-sm" type="text" placeholder="Search Here" name="Search Input" style="width: 80%;"><button style="margin-left: 1%;background-color: #009977;" class="btn btn-primary" type="button" >Search</button>
                </div>
            
                <h6 style="margin-top: 2%;margin-left: 1%;">Search by:</h6>
                <div style="width: 100%;margin-left: 1%;" >
                        <div style="float: left;width: 100px;" >
                            <input  type="radio" name="Channel" value="Search Channel">
                            <span style="margin-left: 2%;">Channel&nbsp;</span>
                        </div>
                        <div style="float: left;width: 100px;"><input type="radio" name="Post" value="Search Post">
                            <span style="margin-left: 2%;">Post</span>
                        </div>
                        <div style="float: left;width: 100px;"><input type="radio" name="Release" style="background-color: #009977;" value="Search Release ">
                            <span style="margin-left: 2%;">Release</span>
                        </div>
                        <div style="float: left;width: 100px;"><input type="radio" name="User" style="background-color: #009977;" value="Search Release ">
                            <span style="margin-left: 2%;">User</span>
                        </div>
                        <br>
                        <hr>
                        <div style="float: none;  overflow-y:scroll; height:200px;"><p>The Search Result</p>
                        </div>
                </div>
                    
                    
            </div>
            
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-sm-8">
                <div class="d-flex flex-column">
                    <div style="height: 30rem;">
                        <!--for image release-->
                        <img src="../assets/img/user-photo2.jpg" style="height: 100%;width:100%;" data-toggle="modal" data-target="#myModal"> -->
                        <!--for text release-->
                        <!-- <p class="card-text" style="height:100% ;width:100% ;" data-toggle="modal" data-target="#myModal">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                         -->
                            <div class="modal" id="myModal">
                                <div class="modal-dialog modal-lg">
                                  <div class="modal-content">
                              
                              
                                    <!-- Modal body for text based -->
                                    <!-- <div class="modal-body" style="overflow-y: scroll; max-height:85%;">
                                      Modal body..
                                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
                                    </div>
                               -->
                               <!--modal based for image-->
                               <img src="../assets/img/user-photo2.jpg" style="height: 100%;width:100%;">

                                  </div>
                                </div>
                              </div>

                    </div>
                    
                    <div class="card">
                        <div class="card-body d-flex flex-column">
                            <div class="d-flex flex-row">
                                <img class="rounded-circle mr-3" style="height: 50px; width: 50px;" src="../assets/img/user-photo2.jpg" />
                                <div class="d-flex flex-column">
                                    <h5 class="card-title">Username</h5>
                                    <h5 class="card-title">Channelname</h5>
                                </div>
                                
                            </div>
                           <div>
                                <p class="card-text">Description:-Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            </div>
                            <div>
                                
                                <div>
                                    <!--List of Release Titles-->
                                    <a href="#" class="card-text"><span class="badge badge-secondary" style="font-size: 1.2em; margin:0.6%;">Release Title</span></a>
                                </div>
                               
                            </div>
                            <p style="font-size:14px">12/12/12 12:00:00</p>
                            <div class="d-flex justify-content-between">
                                <a class="card-link d-flex" href="#"><span><i class="fa fa-comments"></i>34</span></a>
                                <a class="card-link d-flex" href="#"><span><i class="fa fa-star"></i>43</span></a>
                            </div>
                            
                        </div>
                    </div>
                    <hr>
                    <div>
                        <!--add comment-->
                         <div class="card">
                            <div class="card-body d-flex flex-row">
                                <img class="rounded-circle mr-3" style="height: 50px; width: 50px;" src="../assets/img/user-photo2.jpg" />
                                    
                                <div class="d-flex flex-column flex-grow-1">
                                    <form action="">
                                        <div>
                                            <textarea id="form7" class="md-textarea form-control" rows="1" cols="20"></textarea>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <button style="background-color: #009977;">COMMENT</button>
                                        </div>
                                    </form>
                                    
                                </div>
                                          
                            </div>
                            
                        </div>
                        <!--list of comments-->
                        <div class="container">
                            
                                <div class="row">
                                <!-- Contenedor Principal -->
                                <div class="comments-container">
                                    
                                    <hr>
                                    <ul id="comments-list" class="comments-list">
                                        <li>
                                            <div class="comment-main-level">
                                                <!-- Avatar -->
                                                <div class="comment-avatar"><img src="../assets/img/user-photo2.jpg" alt=""></div>
                                                <!-- Contenedor del Comentario -->
                                                <div class="comment-box">
                                                    <div class="comment-head">
                                                        <h6 class="comment-name"><a href="#">Agustin Ortiz</a></h6>
                                                        <span>hace 20 minutos</span>
                                                        <i class="fa fa-reply"></i>
                                                        
                                                    </div>
                                                    <div class="comment-content">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Respuestas de los comentarios -->
                                            <ul class="comments-list reply-list">
                                                <li>
                                                    <!-- Avatar -->
                                                    <div class="comment-avatar"><img src="../assets/img/user-photo2.jpg" alt=""></div>
                                                    <!-- Contenedor del Comentario -->
                                                    <div class="comment-box">
                                                        <div class="comment-head">
                                                            <h6 class="comment-name"><a href="#">Lorena Rojero</a></h6>
                                                            <span>hace 10 minutos</span>
                                                            <i class="fa fa-reply"></i>
                                                            
                                                        </div>
                                                        <div class="comment-content">
                                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
                                                        </div>
                                                    </div>
                                                </li>
                            
                                                <li>
                                                    <!-- Avatar -->
                                                    <div class="comment-avatar"><img src="../assets/img/user-photo2.jpg" alt=""></div>
                                                    <!-- Contenedor del Comentario -->
                                                    <div class="comment-box">
                                                        <div class="comment-head">
                                                            <h6 class="comment-name"><a href="#">Agustin Ortiz</a></h6>
                                                            <span>hace 10 minutos</span>
                                                            <i class="fa fa-reply"></i>
                                                            
                                                        </div>
                                                        <div class="comment-content">
                                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                            
                                        <li>
                                            <div class="comment-main-level">
                                                <!-- Avatar -->
                                                <div class="comment-avatar"><img src="../assets/img/user-photo2.jpg" alt=""></div>
                                                <!-- Contenedor del Comentario -->
                                                <div class="comment-box">
                                                    <div class="comment-head">
                                                        <h6 class="comment-name"><a href="#">Lorena Rojero</a></h6>
                                                        <span>hace 10 minutos</span>
                                                        <i class="fa fa-reply"></i>
                                                        
                                                    </div>
                                                    <div class="comment-content">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                </div>
                            </div>
                        
                    </div>
                    
                    <hr>

                </div>
            </div>
    
            <div class="col-xs-10 col-sm-2">
                <div class="container">
                    <h2>Add Channel</h2>
                    <form action="/action_page.php">
                      <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="username" class="form-control" id="username" placeholder="Enter username" name="username">
                      </div>
                      <div class="form-group">
                        <label for="channelName">Channel Name:</label>
                        <input type="channelName" class="form-control" id="channelName" placeholder="Enter channelName" name="channelName">
                      </div>
                      <div class="form-group">
                        <label for="description">Description:</label>
                        <input type="description" class="form-control" id="description" placeholder="Enter description" name="description">
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                      <button type="cancel" class="btn btn-primary">Cancel</button>
                    </form>
                  </div>
            </div>
          </div>
           
    </div>
    
</div>
    


    
    <script src="../assets/libs/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <script src="../assets/libs/bootstrap-4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
    <script src="../assets/scripts/CDNjs-Search-Modal.js"></script>
    <script src="../assets/scripts/Fixed-navbar-starting-with-transparency.js"></script>
</body>

</html>