<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Nav Bar</title>
    <link rel="stylesheet" href="../assets/libs/bootstrap-4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/styles/Fixed-navbar-starting-with-transparency-1.css">
    <link rel="stylesheet" href="../assets/styles/Fixed-navbar-starting-with-transparency.css">
    <link rel="stylesheet" href="../assets/styles/CDNjs-Search-Modal.css">
    <link rel="stylesheet" href="../assets/styles/Search-Input-responsive.css">
    <link rel="stylesheet" href="../assets/styles/Test_CardPRO-1.css">
    <link rel="stylesheet" href="../assets/styles/Test_CardPRO.css">
    <link rel="stylesheet" href="../assets/styles/content-view.css">
    
    
</head>

<body style="padding-top: 0px;">
<div class="d-flex flex-column" style=" height: 83px;">
    <nav class="navbar navbar-light navbar-expand-md navbar-transparency" style="padding:0; margin: 0;width: 100%;">
        <div class="containerd" style="padding:0; margin: 0;width: 100%;">
            <div style="float: left; width: 50%; height: 3%;padding: 0%;"><img  src="../assets/img/logintemp.png"><a class="navbar-brand" href="#" style="margin-left: 16px;vertical-align: top;padding-top: 2%;font-size: x-large;">Issue #1</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button></div>
            <div style="float: right;height: auto;height: 3%; margin-right: 3%;"
                class="collapse navbar-collapse" id="navcol-1" style="padding:0; margin: 0;width: 100%;">
                <ul class="nav navbar-nav ml-auto">
                    
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#" data-toggle="modal" data-target="#modalSearch" style="width: 40px;"><i class="fa fa-search" style="width: 40px;font-size: 20px;"></i></a></li>
                    <li class="nav-item dropdown show"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Channels&nbsp;</a>
                        <div class="dropdown-menu " role="menu"><a class="dropdown-item" role="presentation" href="#">My Channel</a><a class="dropdown-item" role="presentation" href="#">other channel</a><a class="dropdown-item" role="presentation" href="#">other other channel</a></div>
                    </li>
                    <li class="nav-item dropdown show"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fa fa-user" style="color: #009977;font-size: 25px;"></i>&nbsp;My Account</a>
                        <div class="dropdown-menu " role="menu"><a class="dropdown-item" role="presentation" href="#">Profile and Settings</a><a class="dropdown-item" role="presentation" href="#">Log out</a></div>
                    </li>
                </ul>
        </div>
        </div>
        
        
    </nav>
    <div class="modal fade" role="dialog" tabindex="-1" id="modalSearch">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Search</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body "><input class="form-control-sm" type="text" placeholder="Search Here" name="Search Input" style="width: 80%;"><button style="margin-left: 1%;background-color: #009977;" class="btn btn-primary" type="button" >Search</button>
                </div>
            
                <h6 style="margin-top: 2%;margin-left: 1%;">Search by:</h6>
                <div style="width: 100%;margin-left: 1%;" >
                        <div style="float: left;width: 100px;" >
                            <input  type="radio" name="Channel" value="Search Channel">
                            <span style="margin-left: 2%;">Channel&nbsp;</span>
                        </div>
                        <div style="float: left;width: 100px;"><input type="radio" name="Post" value="Search Post">
                            <span style="margin-left: 2%;">Post</span>
                        </div>
                        <div style="float: left;width: 100px;"><input type="radio" name="Release" style="background-color: #009977;" value="Search Release ">
                            <span style="margin-left: 2%;">Release</span>
                        </div>
                        <div style="float: left;width: 100px;"><input type="radio" name="User" style="background-color: #009977;" value="Search Release ">
                            <span style="margin-left: 2%;">User</span>
                        </div>
                        <br>
                        <hr>
                        <div style="float: none;  overflow-y:scroll; height:200px;"><p>The Search Result</p>
                        </div>
                </div>
                    
                    
            </div>
            
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-sm-8">
                
                <div class="d-flex flex-column flex-fill">
                    <div style="height: 30rem;">
                        <!--for image release-->
                        <!-- <img src="../assets/img/user-photo2.jpg" style="height: 100%;width:100%;" data-toggle="modal" data-target="#myModal"> -->
                        <!--for text release-->
                        <form action="" style="height: 100%;">
                            <div style="height: 100%;">
                                <textarea name="" id="" cols="10" rows="10"style="height:100% ;width:100% ;">
                                    Enter text here
                                </textarea>
                            </div>
                        </form>
                        
                        
                    </div> 

                </div>
            </div>
    
            <div class="col-xs-10 col-sm-4">
                <div class="flex flex-column flex-fill">
                    <div>
                    <h2>Add Release</h2>
                      <form>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Title:</span>
                          </div>
                          <input type="text" class="form-control" placeholder="Title">
                        </div>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Description:</span>
                          </div>
                          <input type="text" class="form-control" placeholder="Description">
                        </div>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Authors:</span>
                          </div>
                          <input type="text" class="form-control" placeholder="Jane Doe, John Doe, Silias Doe">
                          
                        </div>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Genre Definition:</span>
                          </div>
                          <input type="text" class="form-control" placeholder="Cartoon,Literature">
                        </div>
                        
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Genre:</span>
                          </div>
                         
                            <input type="text" class="form-control" placeholder="Fantasy, Sci-Fi, Romance">
                          
                        </div>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Content Type:</span>
                          </div>
                          <div style="margin-top: 1%;" class="d-flex form-group form-check">
                          <label  style="margin: 0 50%;"class="d-flex form-check-label">
                            <input class="form-check-input" type="checkbox" name="text">Text
                          </label>
                          <label   class="d-flex form-check-label">
                            <input class="form-check-input" type="checkbox" name="image">Image
                          </label>
                
                        </div>
                        </div>
                        
                
                        <div class="custom-file mb-3">
                          <input type="file" class="custom-file-input" id="customFile" name="filename">
                          <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        <div class="d-flex justify-content-end mb-3">
                          <button style="margin-right: 1%; background-color: #009977;" type="submit" class="btn btn-primary">Cancel</button>
                          <button style="margin-right: 1%; background-color: #009977;"  type="submit" class="btn btn-primary">Submit</button>
                        </div>
                      </form>
                    </div>
                    
            </div>
          </div>
           
    </div>
    </div>
</div>
    


    
    <script src="../assets/libs/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <script src="../assets/libs/bootstrap-4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
    <script src="../assets/scripts/CDNjs-Search-Modal.js"></script>
    <script src="../assets/scripts/Fixed-navbar-starting-with-transparency.js"></script>
</body>

</html>