{{ define "login.form" }}
    <form name="login-form" method="POST" action="/login">
        <input type="hidden" name="_csrf" value="{{ .CSRF }}"/>
        <div class="form-group">
            {{with .VErrors.Get "generic" }}
                <label class="text-danger">{{ . }}</label>
            {{end}}
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="text-primary input-group-text">
                        <i class="fa fa-envelope-o"></i>
                    </span>
                </div>
                <input class="form-control"
                       type="text" required="" name="Username" placeholder="Username">
                <div class="input-group-append"></div>
            </div>
        </div>
        <div class="form-group">
            <!-- {{with .VErrors.Get "Password"}}
                        <label class="text-danger">{{.}}</label>
                        {{end}} -->
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="text-primary input-group-text">
                        <i class="fa fa-lock"></i>
                    </span>
                </div>
                <input class="form-control" type="password"
                       required="" autocomplete="off" name="Password" placeholder="Password">
                <div class="input-group-append"></div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-lg text-white" style="width: 100%;"
                    type="submit">Log in
            </button>
        </div>
    </form>
{{ end }}