{{ define "signup.form"}}
    <form name="signup-form" class="mt-4" method="POST" action="/signup">
        <input type="hidden" name="_csrf" value="{{ .CSRF }}"/>
        {{with .VErrors.Get "generic" }}
            <label class="text-danger">{{ . }}</label>
        {{end}}
        <div class="form-group">
            {{with .VErrors.Get "Username"}}
                <label class="text-danger">{{.}}</label>
            {{end}}
            <div class="input-group">
                <div class="input-group-prepend"><span class="text-primary input-group-text"><i
                                class="fa fa-user-o"></i></span></div>
                <input class="form-control" type="text"
                       required="" name="Username" placeholder="Username"
                        {{with .Values.Get "Username"}}
                            value="{{.}}"
                        {{end}} />
                <div class="input-group-append"></div>
            </div>
        </div>
        <div class="form-group">
            {{with .VErrors.Get "Email"}}
                <label class="text-danger">{{.}}</label>
            {{end}}
            <div class="input-group">
                <div class="input-group-prepend"><span class="text-primary input-group-text"><i
                                class="fa fa-envelope-o"></i></span></div>
                <input class="form-control" type="email"
                       required="" name="Email" placeholder="Email"
                        {{with .Values.Get "Email"}}
                            value="{{.}}"
                        {{end}} />
                <div class="input-group-append"></div>
            </div>
        </div>
        <div class="form-group">
            {{with .VErrors.Get "Password"}}
                <label class="text-danger">{{.}}</label>
            {{end}}
            <div class="input-group">
                <div class="input-group-prepend"><span class="text-primary input-group-text"><i
                                class="fa fa-lock"></i></span></div>
                <input class="form-control" type="password"
                       required="" autocomplete="off" name="Password" placeholder="Password">
                <div class="input-group-append"></div>
            </div>
        </div>
        <div class="form-group">
            {{with .VErrors.Get "PasswordConfirm"}}
                <label class="text-danger">{{.}}</label>
            {{end}}
            <div class="input-group">
                <div class="input-group-prepend"><span class="text-primary input-group-text"><i
                                class="fa fa-lock"></i></span></div>
                <input class="form-control" type="password"
                       required="" autocomplete="off" name="PasswordConfirm" placeholder="Confirm Password">
                <div class="input-group-append"></div>
            </div>
        </div>
        <div class="form-group">
            {{with .VErrors.Get "FirstName"}}
                <label class="text-danger">{{.}}</label>
            {{end}}
            <div class="input-group">
                <div class="input-group-prepend"><span class="text-primary input-group-text"><i
                                class="fa fa-user-o"></i></span></div>
                <input class="form-control" type="text" required="" name="FirstName" placeholder="First Name"
                        {{with .Values.Get "FirstName"}}
                            value="{{.}}"
                        {{end}} />
                <div class="input-group-append"></div>
                <br>

            </div>
        </div>
        <div class="form-group">
            {{with .VErrors.Get "MiddleName"}}
                <label class="text-danger">{{.}}</label>
            {{end}}
            <div class="input-group">
                <div class="input-group-prepend"><span class="text-primary input-group-text"><i
                                class="fa fa-user-o"></i></span></div>
                <input class="form-control" type="text" name="MiddleName" placeholder="Middle Name"
                        {{with .Values.Get "MiddleName"}}
                            value="{{.}}"
                        {{end}} />
                <div class="input-group-append"></div>
            </div>
        </div>
        <div class="form-group">
            {{with .VErrors.Get "LastName"}}
                <label class="text-danger">{{.}}</label>
            {{end}}
            <div class="input-group">
                <div class="input-group-prepend"><span class="text-primary input-group-text"><i
                                class="fa fa-user-o"></i></span></div>
                <input class="form-control" type="text" name="LastName" placeholder="Last Name"
                        {{with .Values.Get "LastName"}}
                            value="{{.}}"
                        {{end}} />
                <div class="input-group-append"></div>
            </div>
        </div>
        <!-- <div class="form-group">
            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1" required=""
                checked=""><label class="form-check-label" for="formCheck-1">I agree
                all the terms and conditions.</label></div>
        </div> -->
        <div class="form-group">
            <button class="btn btn-primary btn-lg text-white" style="width: 100%;"
                    type="submit">Sign Up
            </button>
        </div>
    </form>
{{ end }}