{{ define "signup.content"}}
<div class="modal fade" role="dialog" tabindex="-1" id="signin">
    <div class="modal-dialog modal-l modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sign Up Now</h4><button type="button" class="close" data-dismiss="modal"
                    aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form class="mt-4">
                    <input type="hidden" name="_csrf" value="{{ .CSRF }}" />
                    
                    <div class="form-group">
                        {{with .VErrors.Get "Username"}}
                        <label class="text-danger">{{.}}</label>
                        {{end}}
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="text-primary input-group-text"><i
                                        class="fa fa-user-o"></i></span></div><input class="form-control" type="text"
                                required="" name="Username" placeholder="Username">
                            <div class="input-group-append"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{with .VErrors.Get "Email"}}
                        <label class="text-danger">{{.}}</label>
                        {{end}}
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="text-primary input-group-text"><i
                                        class="fa fa-envelope-o"></i></span></div><input class="form-control"
                                type="email" required="" name="Email" placeholder="Email">
                            <div class="input-group-append"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{with .VErrors.Get "Password"}}
                        <label class="text-danger">{{.}}</label>
                        {{end}}
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="text-primary input-group-text"><i
                                        class="fa fa-lock"></i></span></div><input class="form-control" type="password"
                                required="" autocomplete="off" name="Password" placeholder="Password">
                            <div class="input-group-append"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        {{with .VErrors.Get "PasswordConfirm"}}
                        <label class="text-danger">{{.}}</label>
                        {{end}}
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="text-primary input-group-text"><i
                                        class="fa fa-lock"></i></span></div><input class="form-control" type="password"
                                required="" autocomplete="off" name="PasswordConfirm" placeholder="Confirm Password">
                            <div class="input-group-append"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{with .VErrors.Get "FirstName"}}
                        <label class="text-danger">{{.}}</label>
                        {{end}}
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="text-primary input-group-text"><i
                                        class="fa fa-user-o"></i></span></div><input class="form-control" type="text"
                                required="" name="FirstName" placeholder="First Name">
                            <div class="input-group-append"></div><br>

                        </div>
                    </div>
                    <div class="form-group">
                        {{with .VErrors.Get "MiddleName"}}
                        <label class="text-danger">{{.}}</label>
                        {{end}}
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="text-primary input-group-text"><i
                                        class="fa fa-user-o"></i></span></div><input class="form-control" type="text"
                                required="" name="MiddleName" placeholder="Middle Name">
                            <div class="input-group-append"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{with .VErrors.Get "LastName"}}
                        <label class="text-danger">{{.}}</label>
                        {{end}}
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="text-primary input-group-text"><i
                                        class="fa fa-user-o"></i></span></div><input class="form-control" type="text"
                                required="" name="LastName" placeholder="Last Name">
                            <div class="input-group-append"></div>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1" required=""
                            checked=""><label class="form-check-label" for="formCheck-1">I agree
                            all the terms and conditions.</label></div>
                    </div> -->
                    <div class="form-group"><button class="btn btn-primary btn-lg text-white" style="width: 100%;"
                            type="button">Sign Up</button></div>
                </form>
                <hr style="background-color: #bababa;">
                <p class="text-center">Already have an Account?&nbsp;<a class="text-decoration-none"
                        data-dismiss="modal" data-toggle="modal" data-target="#signup" href="#">Log In</a></p>
            </div>
        </div>
    </div>
</div>
</div>
{{ end }}